# =========================
# IMPORTANT / SECRET FILES
# =========================
# Ignore API creds file (jangan ke-push)
lib/config.dart

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

# =========================
# Logs / Misc
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# =========================
# IDE / Editor
# =========================
.idea/
*.iml
*.ipr
*.iws
# .vscode/  # kalau mau ikut ke repo, biarin comment

# =========================
# iOS (Generated)
# =========================
**/ios/Flutter/.last_build_id
ios/Flutter/ephemeral/

# =========================
# Android (Generated)
# =========================
.android/
android/app/.cxx/

# =========================
# Web (Generated)
# =========================
lib/generated_plugin_registrant.dart

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json

# =========================
# Dartdoc
# =========================
doc/api/
**/doc/api/

# =========================
# Generated classes
# =========================
*.g.dart

# =========================
# Exceptions (biarin default Flutter)
# =========================
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
